NODE_ENV=production
SERVER_ID=server-01
RUN_MODE=server
PORT=9999
HOST=0.0.0.0
CLUSTER_TOKEN=super-secret-cluster-token
CLUSTER_CACHE=true
CLUSTER_CACHE_TTL=60
CORE_LOGGER_LEVEL=error
SERVER_CONSOLE_LOG_LEVEL=error
TRANSPORTER=redis://127.0.0.1:6379
TRANSPORTER1=redis://192.168.0.21:6379
CONFIG_TYPE=LOCAL
CONFIG_FILE=./config.json
TEMP_CONFIG_TYPE=REMOTE
TEMP_CONFIG_FILE=http://localhost:53321/config.json
# Rate limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=300
SESSION_SECRET=asdasd123213asd
